@import "./theme-vars.scss";

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: var(--font-size);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  font-family: inherit;
}
